body {
    background: url('../../images/bg-desktop.svg') center center no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* font-family: 'Poppins', sans-serif; */
}

.container {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container .logo {
    width: 100%;
}

.container main {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 80px;
}

.container main img {
    flex: 1 1 auto;
}

.container main .information {
    margin-top: 50px;
    color: white;
    flex: 1 1 375px;
}

.container main .information .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.container main .information .description {
    margin-top: 30px;
    font-size: 13px;
}

.container main .information a {
    background-color: white;
    color: hsl(257, 40%, 49%);
    font-weight: 600;
    display: inline-block;
    margin-top: 30px;
    padding: 13px 60px;
    border-radius: 50px;
    transition: 0.3s;
}

.container main .information a:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}

.container footer {
    align-self: flex-end;
    text-align: center;
}

.container footer .social a {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 0 5px;
    border: solid 1px white;
    border-radius: 50px;
}

.container footer .social a:nth-child(1) {
    padding: 10px 18px;
}

.container footer .social a:nth-child(2) {
    padding: 10px 13px;
}

.container footer .social a:nth-child(3) {
    padding: 10px 15px;
}

.container footer .social a:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media(max-width:375px) {
    body {
        background: url('../../images/bg-mobile.svg') center center no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }

    .container .logo img {
        height: 50px;
    }

    .container main {
        margin-top: 50px; 
    }

    .container main img,
    .container main .information {
        width: 80%;
    }

    .container main .information {
        text-align: center;
        margin-left: 0;
    }

    .container main .information .title {
        font-size: 20px;
    }

    .container footer {
        align-self: center;
        margin-top: 100px;
    }
}